<%include ./partials/header %>

<div class="container">
	<div class="row">
		<div id="blurb" class="col">
			<h1>Hi, I'm Ryan</h1>
			<p>I'm a computer science student at UCI who loves learning new technologies and building applications!</p>
		</div>
	</div>
</div>

<%include ./partials/footer %>
