<%include ./partials/header %>

<div class="container">
	<div class="row">
		<div class="col-6">
			<h1>Hi, I'm Ryan</h1>
		</div>
	</div>
	<div class="row">
		<div id="blurb" class="col">
			<p>I'm a <strong>fourth year</strong> computer science student at UCI who loves developing!</p>

			<p> My strongest language is in <strong>Python</strong>, but I have experience developing in C++, C, Java, and Javascript. Currently, my interests are in machine learning, web development, and virtual reality development.</p>

			<p>At UCI, I'm specializing in <strong>artifical intelligence</strong> where I work on creating machine learning models using Tensorflow/Keras and scikit-learn. When I'm out of class, I'm serving as the secretary for the Virtual Reality @ UCI club which I helped to start up last year, or at my fellowship, Asian American Christian Fellowship.</p>

			<p>I've had an amazing opportunity to work for <strong>Western Digital</strong> where I worked in the System Integration Testing Lab. There, I developed automation scripts from the ground up for the Lenovo team. I was able to make testing for the test engineers easier and more efficient by decreasing down time in waiting for the tests to finish by automatically collecting the logs for each test and starting the next test once the previous one had finished. This allowed for tests to be run overnight and over the weekend without supervision, allowing much more tests to be run and completed before automation.</p>

			<p>Feel free to browse through my <a href="/projects">projects</a> and connect with me on <a href="www.linkedin.com/in/ryan-aveo-09b19b137">LinkedIn</a>!</p>
		</div>
	</div>
</div>

<%include ./partials/footer %>
