<%include ./partials/header %>

<div id="intro" class="container">
	<h3>Hi</h3>
	<p>I'm a computer science student at UCI who loves learning new technologies and building applications!</p>
</div>

<%include ./partials/footer %>
