body {
	font-family: 'Muli', sans-serif;
}

#avatar {
	height: 50px;
	width: 50px;
	border-radius: 100%;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

strong {
	color:  #3D9970;
}

#info {
	float: right;
}

#blurb p {
	font-size: 1.7em;
	padding: 15px;
}

hr.style-two { 
	border: 0; 
	height: 1px; 
	background-image: 
	linear-gradient(to right, 
	rgba(0, 0, 0, 0), 
	rgba(0, 0, 0, 0.75), 
	rgba(0, 0, 0, 0));
	animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.project-name {
	color: #3D9970;
	font-weight: 700;
	animation: fadein 2s;
}

.project-description {
	font-size: 25px;
}

.divider {
    /*xborder: 0; */
    display:block;
    height: 1px; 
    background: #333; 
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.img-responsive {
	width: 100%;
	padding: 10px;
	position: fixed;
  	top: 50%;
  	left: 50%;
  	/* bring your own prefixes */
  	transform: translate(-50%, -50%);
	/*object-fit: cover;*/
	height: 300px;*/
}

h1, h2 {
    font-family: 'Ovo', serif;
}

.project-name {
	font-size: 4em;
}

h1 {
	font-size: 4em;
	padding: 20px 0;
	animation: 1.2s move;
}

@keyframes move {
	from { margin-left: -100px; }
  	to { margin-left: 0px; }
}

#info a:hover {
	color:  #FFF !important;
}

#info a {
	transition: all .2s ease-in;
}

.row.project {
	padding: 20px 0;
	margin: 10px 0;
/*	max-height: 500px;
	overflow: scroll;*/
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.3);
  -webkit-filter: brightness(0.3);
}

.hovereffect h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}