<%include ../partials/header %>
<div class="containter">
	<%projects.forEach(function(project) { %>
		<div class="row project">
			<div class="col-4">
				<div class="hovereffect">
        			<img class="img-responsive" src="<%=project.image%>">
            		<div class="overlay">
                		<h2>Github</h2>
						<p>
							<a href="<%=project.github%>"><i class="fab fa-github-square fa-5x"></i></a>
						</p>
            		</div>
    			</div>
    		</div>
			<div class="col-8">
				<h2 class="project-name"><%=project.name%></h2>
				<br>
				<p class="project-description"><%=project.description%></p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<hr class="style-two"></hr>
			</div>
		</div>
	<%})%>
</div>
<%include ../partials/footer %>